{% extends "base.html" %}
{% block tittle %}
	Menu
{% endblock %}
{% block body %}
	<h1>Menu</h1>
	<div class="wrapper">
		{% for category in categories %}
		<div class= "category">
			<h1> {{category}} </h1>
			<table style="width:100%">
  			<tr>
    			{% if categories.category.price_l %}
    				<th colspan="2"></th>
					<th>Small</th>
    				<th>Large</th>
    			{% else %}
    				<th colspan="3"></th>
    			 	<th> price </th>
				{% endif %}
  			</tr>
  			{% for item in categories.category %}
			<tr>
				{% if item.price_l %}
					<td colspan="2">{{item.name}}</td>
					<td>{{item.price}}</td>
					<td> {{item.price_l}} </td>
				{% else %}
					<td colspan="3">{{item.name}}</td>
					<td>{{item.price}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}